.header_logo{
  height: 50px;
  object-fit: contain;
  margin-left: 10px;
}
#navbar
    {
        background-color:	#202020;
    }
#header1
	{ 
        color:white;
	}
#menubar
	{ 
	 font-weight:bold;
	 font-size:20px;
	 list-style-type:none;
	 text-decoration:none;
	}
 #navitems:hover 
    {
      transition: 3s;
        text-transform: uppercase;
    }
    .avatar,.shoppingcart{
      height: 30px !important;
      width: 30px !important;
    }

