.contentPanel{
    width: 100%;
    /* background-color: blue; */
    
}
.containers{
    /* background: rgb(232, 28, 28); */
    width: 94%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* height: 100px; */
}